#forma-registracija {
	margin-top: 50px;
}
#forma-registracija h1{
	margin-bottom: 30px;
}
.navbar {
	border-radius: 0px;
}
#right-navbar-drop li {
	cursor: pointer;
}
#tip_profila_holder {
	min-height: 224px;
}
#linkZaSliku {
	cursor: pointer;
}
#map {
    height: 300px;
}